<!DOCTYPE html>

<header>
  <div class="nav">
    <div class="nav-logo-section">
      <h1 class="nav-logo">logo</h1>
      <h3 class="nav-anime">Anime</h3>
    </div>
    <div class="nav-menu-section">
      <button class="nav-btn">PRINCIPAL</button>
      <button class="nav-btn">ANIMES</button>
      <button class="nav-btn">CALENDARIO</button>
      <button class="nav-btn">ANIME PASS</button>
      <button class="nav-red-btn">TESTE GRÁTIS</button>
    </div>
    <div class="nav-login-section">
      <button class="nav-btn">CADASTRE-SE</button>
      <button class="nav-red-btn">ENTRAR</button>
    </div>
  </div>
</header>

<body>
  <!-- anime em destaque topo -->
  <div class="highlight-anime">
    <div class="highlight-anime-section">
      <div class="highlight-anime-title-section">
        <div class="highlight-anime-title">Demon Slayer</div>
        <div class="highlight-anime-tags">Ação, Demônios, Histórico, Shounen, Sobrenatural</div>
      </div>
      <div class="highlight-anime-button-section">
        <button class="highlight-anime-button">Pagina do Anime</button>
        <button class="highlight-anime-button">Minha Lista</button>
      </div>
    </div>
  </div>


  <!-- animes em exibicao -->
  <div class="upper-exibition">
    <div class="upper-exibition-section">
      <div class="upper-exibition-title">ANIMES EM EXIBIÇÃO</div>
      <button class="upper-exibition-button">VER TODOS</button>
    </div>
    <!-- episodios -->
    <div class="episodes-exibition-section">
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
      <div class="episode-exibition-box">
        <img src="./../assets/Yurei-Deco-Home.webp" alt="" class="image-box">
        <div class="episode-exibition-box-title">
          <div class="episode-exibition-box-title-name"></div>
          <div class="episode-exibition-box-title-ep"></div>
        </div>
      </div>
    </div>
    <div class="exibition-paginator"></div>

  </div>

  <!-- adicionado recentemente -->
  <div>
    <div class="upper-recenadded-section">
      <div class="upper-recenadded-title">ADICIONADOS RECENTEMENTE</div>
      <div class="upper-recenadded-end-section">
        <button class="recenadded-button">VER TODOS</button>
        <button class="recenadded-button">left</button>
        <button class="recenadded-button">right</button>
      </div>
    </div>
    <div class="titles-recenadded-section">
      <div class="recenadded-section-box">
        <img src="./../assets/overlord-iv-poster-min.jpg" alt="" class="recenadded-image-box">
      </div>
      <div class="recenadded-section-box">
        <img src="./../assets/overlord-iv-poster-min.jpg" alt="" class="recenadded-image-box">
      </div>
      <div class="recenadded-section-box">
        <img src="./../assets/overlord-iv-poster-min.jpg" alt="" class="recenadded-image-box">
      </div>
      <div class="recenadded-section-box">
        <img src="./../assets/overlord-iv-poster-min.jpg" alt="" class="recenadded-image-box">
      </div>
      <div class="recenadded-section-box">
        <img src="./../assets/overlord-iv-poster-min.jpg" alt="" class="recenadded-image-box">
      </div>
      <div class="recenadded-section-box">
        <img src="./../assets/overlord-iv-poster-min.jpg" alt="" class="recenadded-image-box">
      </div>
      <div class="recenadded-section-box">
        <img src="./../assets/overlord-iv-poster-min.jpg" alt="" class="recenadded-image-box">
      </div>
      <div class="recenadded-section-box">
        <img src="./../assets/overlord-iv-poster-min.jpg" alt="" class="recenadded-image-box">
      </div>
      <div class="recenadded-section-box">
        <img src="./../assets/overlord-iv-poster-min.jpg" alt="" class="recenadded-image-box">
      </div>
    </div>

  </div>

  <!-- anime em destaque baixo -->
  <div class="footer-highlight-anime">
    <div class="footer-highlight-anime-section">
      <div class="footer-highlight-anime-logo-section">
        <div class="footer-highlight-anime-logo">LOGO</div>
      </div>
      <div class="footer-highlight-anime-button-section">
        <button class="footer-highlight-anime-button">Pagina do Anime</button>
        <button class="footer-highlight-anime-button">Minha Lista</button>
      </div>
      <div class="footer-highlight-summary-section">
        <div class="footer-highlight-summary">Lorem Ipusm solo aisaiojisijsjisjssa</div>
      </div>
    </div>
  </div>
</body>

<footer></footer>